
.custom-btn {
    background-color: #006d3e;
    border-color: #006d3e;
}

    .custom-btn:hover {
        background-color: #00562f;
        border-color: #00562f;
    }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

input,
select,
textarea {
    max-width: 280px;
}

#logo {
    width: 50px;
    height: 50px;
    border-radius: 0px;
}
/*================================================*/

/* Global typography */
body {
}

}

}

.navbar-collapse.collapse.in {
    display: block !important;
}

.navbar-brand {
}

.navbar-nav {
}

}

.nav-link {
}

}

}

@media (max-width: 576px) {
    .nav-item {
        width: 100%;
        text-align: left;
    }

    .v-line {
        display: none;
    }
}


.v-line {
    background-color: gray;
    width: 1px;
    height: 20px;
}

/* Background container */
.background-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-image: url('../Images/ZalgirisBG_ready.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    z-index: 0;
}

}

}
.c-footer {
    background-color: #682b83;
    color: #ffffff;
    padding-top: 16px;
    border-top: none;
}

}
